<div class="row">

  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
    
  <div class="col-md-8">
    <section class="content">
    <p><%= link_to "@uspto" , '/organizations/1' %></p>
    <p><%= link_to "@ipwatch" , '/organizations/2' %></p>
    <p><%= link_to "@WIPO" , '/organizations/3' %></p>
    <p><%= link_to "@GOVUK" , '/organizations/4' %></p>
    <p><%= link_to "@EPOorg" , '/organizations/5' %></p>
    <p><%= link_to "@AIPLA" , '/organizations/6' %></p>
    <p><%= link_to "@GLOVALIP_JPO" , '/organizations/7' %></p>
    </section>
  
  </div>

    
    
    
</div>