
<%= form_for(@organization) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.label :twitter_url %><br>
    <%= f.text_field :twitter_url %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "address" %>
    <%#= link_to "SEARCH", "#", class: "map-search-button" %>
    <input type="button" value="検索" onclick="codeAddress()">
    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div><!-- only if you need custom infoboxes -->
    <%= f.text_field :latitude %>
    <%= f.text_field :longitude %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
var marker; 
var map; 
google.maps.event.addDomListener(window, 'load', function() { 
    //マーカーを管理するためのmarker_list
    marker_list = new google.maps.MVCArray();
  
    var latlng = new google.maps.LatLng(<%= @organization.latitude.presence || 35.6894875 %>, <%= @organization.longitude.presence || 139.69170639999993 %>);

    var mapOptions = { 
        zoom: 12, 
        center: latlng, 
        mapTypeId: google.maps.MapTypeId.ROADMAP, 
        scaleControl: true 
    }; 
    map = new google.maps.Map(document.getElementById('map'), mapOptions); 

    marker = new google.maps.Marker({ 
        position: latlng, 
        map: map,
        draggable: true	// ドラッグ可能にする
    }); 
    
    
    // マーカーのドロップ（ドラッグ終了）時のイベント
  	google.maps.event.addListener( marker, 'dragend', function(ev){
  		// イベントの引数evの、プロパティ.latLngが緯度経度。
  		document.getElementById('organization_latitude').value = ev.latLng.lat();
  		document.getElementById('or_longitude').value = ev.latLng.lng();
  	});
  	
  	marker_list.push(marker);
}); 

// 地図からマーカーを削除 
function codeAddress(){ 
 
 marker_list.forEach(function(marker, idx) {
    marker.setMap(null);
  });
 
 geocoder = new google.maps.Geocoder();
 
 var address = document.getElementById("organization_address").value;
 
 if (geocoder) {
 geocoder.geocode( { 'address': address,'region': 'jp'},
    function(results, status) {
  if (status == google.maps.GeocoderStatus.OK) {
    map.setCenter(results[0].geometry.location);

   var bounds = new google.maps.LatLngBounds();

    if (results[0].geometry) {
     var latlng = results[0].geometry.location;
     bounds.extend(latlng);
     var marker = new google.maps.Marker({
     position: latlng , map: map , draggable: true
    });
    
    pos = marker.getPosition();
    
    document.getElementById('organization_latitude').value =  pos.lat();
  	document.getElementById('organization_longitude').value =  pos.lng();
    
    // マーカーのドロップ（ドラッグ終了）時のイベント
  	google.maps.event.addListener( marker, 'dragend', function(ev){
  		// イベントの引数evの、プロパティ.latLngが緯度経度。
  		document.getElementById('organization_longitude_latitude').value = ev.latLng.lat();
  		document.getElementById('organization_longitude').value = ev.latLng.lng();
  	});
    
    marker_list.push(marker);

   }
   //map.fitBounds(bounds);
   }else{
    alert("取得に失敗しました reason: "
         + status);
   }
  });
 }
} 
</script>
